body {
    background-image: url(../images/chess_bckgrnd_smth.png);
    background-size: cover;
}

#gameContainer {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
}

#opponentDisp {
    margin: auto
}

#chat, #board, #players {
    display: inline-block;
    float: left;
    margin: 30px;
}

.width-setter {
    margin: auto;
    width: 70%;
}

.div-padding {
    padding: 15px;
}

.button-nav {
    padding: 15px;
}

.nav-link:visited, .nav-link:link, .nav-link:hover, .nav-link:active {
    color: black;
}

.nav-tabs {
    border-right-style: double;
    border-left-style: double;
    border-bottom-style: double;
    border-width: 6px;
    border-color: #eea39a;
    color: #eea39a;
}

.form-btn {
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
}

#menu > div {
    text-align: center;
}

.connected span,
.ready span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;
}

span.green {
    background: green;
}

#chat {
    width: 20%;
    border: 2px solid black;
    background-color: white;
}

#chat-box {
    overflow-y: scroll;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

#chat-input {
    width: 35%;
    font-size: small;
}

#chat-button {
    width: 25%;
    font-size: small;
}