{{!-- add whatever you want guys --}}
<main class="width-setter">
    <p>marco arriaga - resident bad comment writer and technical debt incurrer</p>
    <img src="/static/images/oh-the-misery-eggcat.gif">
    <img src="/static/images/everybody-wants.gif">
</main>