<!-- all inside a main to set the width to 70% to avoid interference with the backround image,
as the background image's sides take up 30% (288 px each side, 576/1920 = 0.3) -->
<main class="width-setter">
    <header>
        <ul id="navbar" class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/frontPage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/game">Play Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Your User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Game Results</a>
            </li>
        </ul>
    </header>
</main>
