<!-- all inside a main to set the width to 70% to avoid interference with the backround image,
as the background image's sides take up 30% (288 px each side, 576/1920 = 0.3) -->
<main class="width-setter">
    <header>
        <ul id="navbar" class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/game">Play Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Your User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {{/if}}
        </ul>
    </header>

    <section id="menu">
        <div>
            <h1>Play Now</h1>
            <p>Search for a game here:</p>
            <div>
                <a class="btn btn-primary btn-lg" id="start-button">Search</a>
            </div>
            <div id="info"></div>
        </div>
    </section>

    <section id="game" style="display: none">
        <p id="opponentDisp">Opponent: (unconnected)</p>
        <div id="gameContainer">
            <div id="players">
                <div class="player p1">
                    Player 1
                    <div class="connected">Connected <span></span> </div>
                </div>
                <div class="player p2">
                    Player 2
                    <div class="connected">Connected <span></span> </div>
                </div>
            </div>
            
            <div id="chat" style="display:none">
                <div id="chat-box">
                    <!-- add new chat messages here using jquery -->
                </div>
                <form id="chat-form">
                    <input type="text" name="chat-input" id="chat-input" placeholder="Type here!">
                    <button id="chat-button">Send</button>
                </form>
            </div>

            <div id="board" style="width: 600px"></div>
            <textarea readonly id="moveList" style="max-width: 30% display:none" rows="25" cols="15"></textarea>
        </div>
    </section>
</main>
