<!-- all inside a main to set the width to 70% to avoid interference with the backround image,
as the background image's sides take up 30% (288 px each side, 576/1920 = 0.3) -->
<main class="width-setter">
    <header>
        <ul id="navbar" class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game">Play Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Your User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Game Results</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {{/if}}
        </ul>
    </header>

    <section id="leaderboard">
        {{!-- This is going to have a max number of players set in the routes --}}
        <ol>
            {{!-- Just loops through the sorted array that's passed in --}}
            {{#each board}}
            <li class="leaderboardLi">{{username}} (Score: {{rating}}, Games Played: {{gamesPlayed}})</li>
            {{/each}}
        </ol>
    </section>
</main>
